and, or, IDE

In [ ]:
print("Hello")

Basic I/O seeks an input, if we add a string in input it will print the statement and seek an input

In [ ]:
a,b= eval(input("What is a,b(Enter them separated by a comma)"))
print(a,b)

What is a,b(Enter them separated by a comma)4,5
4 5

In [ ]:
a=5
b=2
print(a+b)

7

In [ ]:
a="5"
b="2"
print(a+b)

52

In [ ]:
a="c"
b="a"
print(a+b)

ca

Grading *System*
#include<stdio.h>

int main(){
    float a;
    scanf("%f",&a);
    if(a>=85){
        printf("Grade A+");
    }
    else if(a>=75){
        printf("Grade A");
    }
    else if(a>=65){
        printf("Grade B");
    }
    else if(a>=55){
        printf("Grade C");
    }
      
    else{
        printf("Grade F");
    }
    return 0;
}

now in Python

In [ ]:
a= eval(input("What are the marks: "))
if a>=85 and a<=100:
  print("Grade A+")
elif a>=75:
  print("Grade A")
elif a>=65:
  print("Grade B")
elif a>=55:
  print("Grade C")
elif a>=40:
  print("Grade D")
elif a>=0:
  print("Grade F")
else:
  print("Wrong Input")

What are the marks: 85
Grade A+

if we want to make an empty if statement we have use the pass keyword like

if a==5:
  pass
else:
  print("a is not 5")

In [ ]:
a= eval(input("What are the marks: "))
if a<=100:
  if a<=85:
    if a<=75:
      if a<=65:
        if a<=55:
          if a<=40:
            if a<=0:
              print("Wrong Input")
            else:
              print("Grade F")
          else:
            print("Grade D")
        else:
          print("Grade C")
      else:
        print("Grade B")
    else:
      print("Grade A")
  else:
    print("Grade A+")
else:
  print("Wrong Input")

What are the marks: 77
Grade A

In [ ]:
a=6
if not a==5:
  print("a is not 5")
else:
  print("a is 5")

a is not 5

For Loop and if clause :

PIE:

polymorphism - OOP Language Polymorphism/ Overloading
functions can be different example can be area of things
same function take different arguments depending on the situation
overloaded function another example is the range function of python
range can get 1 argument 2 arguments or 3 arguments any of them can be used
range(5) represents that the function will go from 0 to 4, 5 is the limiter there.

Otherwise we have to use the other form of the range function that is the 2 valued function
range(1,3), range(start, end) end is excluded in the interval

otherwise range(start, end, stepsize) stepsize should be an integer excluded in the interval
print(i,end="") is required to tell the intepreter what to put after printing the thing by default it will use "\n" tell the delimiter what to put there

elif is short for else if in python

In [ ]:
for i in range(1,5):
  print(i,end=" ")

1 2 3 4

In [ ]:
a=3
# Both are the same thing
# if a>2:
#   if(a<5):
#     print(a)

# if (a>2 and a<5):
#   print(a)
# Syntax Error
# if a not 2:
#   print(a) syntax error

Here 5 will not be printed as we are continuing the iteration as soon as we reach i==5, continue skips the current iteration and continues with the other iterations.

break statement breaks the innermost for loop only

In [ ]:
for i in range(11):
  if (i==5):
    continue
  print(i)

0
1
2
3
4
6
7
8
9
10

In [ ]:
"""
Multiple Line comment using triple quotes
"""

n= int(input("What is n"))
sum=0
for i in range(1,n+1):
  flag=0
  for j in range(2,n+1):
    if (i%j==0):
      flag+=1
  if(flag==2):
    sum= sum +i

print(sum)

using else will the for loop will show us that

when the break inside the for loop the else will not be executed but else it would be used.....

*   List item
*   List item

In [ ]:
print("Hello World")

Hello World

In [ ]:
num=50
while(num!=0):
  print(num)
  # i-=1
  num = num //10 # Floor division will divide and take GIF not in points or fraction only integers Floor will be taken here

50
5

Equivalent for of while

In [ ]:
num =100
for(i) in range(0,100):# num!=0 would give 1 as its True
#chekc again as argument 3 can't be 0
  print(i)
  i//=10

0
1
2
3
4
5
6
7
8

4 Digit integer and display the number in reverse order

Using Str/ Cheat method to solve it

In [ ]:
num = input("Integer: ")
print(num[::-1])# to print the string in reverse

Integer: 500
005

Proper Method

In [ ]:
num = int(input("Integer: "))
print(f"You entered: {num}")
while(num!=0):
  print(num%10,end="")# end="" is required as the number would otherwise come in the next line now it will be printed alright
  num//=10

Integer: 670
You entered: 670
076

Let the user give 2 numbers under 100 and checks the users additions skills

random had to be used if generation had to be done

In [ ]:
a= eval(input("a: "))
b= eval(input("b: "))
# sum = a+b # or without the extra varaible also
sum= eval(input("Sum: "))
print(a+b==sum) # if correct then true else false

a: 10
b: 0
Sum: 10
True

In [ ]:
a= eval(input("a: "))
b= eval(input("b: "))
# sum = a+b # or without the extra varaible also
sum= eval(input("Sum: "))
if(sum==a+b):
  print(True)# can be printed without using the quotes
else:
  print(False)# if correct then true else false

a: 10
b: 0
Sum: 10
True

In [ ]:
a= eval(input("a: "))
b= eval(input("b: "))
sum= eval(input("Sum: "))
while True:
  if(a+b==sum):
    print(True)
    break
  else:
    print(False,"Try again") # or the entire thing in quotes is also fine

Integer for today's day of the week:

0 to 6 Sunday is 0 and so on

also prompt the user to enter x and display the future day

if-else ladder and array and dictionary

Check again

In [ ]:
today = int(input("What is today's Day's number?: "))
x= int(input("How many days after?: "))

a=["Sunday","Monday", "Tuesday", "Wednessday","Thursday","Friday","Saturday"]

What is today's Day's number?: 5
How many days after?: 23
Friday

Rice in 2 different sized packets write a program compare the 2 packet's cost
weight and cost so find cost per gram or kilogram

In [ ]:
c1,w1= eval(input("What is the value of c1 and w1: (comma separated)"))
c2,w2= eval(input("What is the value of c2 and w2: (comma separated)"))
if(c1/w1>c2/w2):
  print("1st is more expensive than 2nd")
elif(c1/w1<c2/w2):
  print("2nd is more expensive than 1st")
else:
  print("Both are of same price/ weight")

enter an integer and check whether its divisible by uboth 5 and 6
or 5 or 6 alone but not both not by either

In [ ]:
# a= eval(input("Number: "))
# if(a%5 and a%6):
#   print("Number is not divisible by both")
# elif(not a%6 ):
#   print()

# do again

16/1/24

In [ ]:
n=1
while(n!=0): # while n: directly
  n = int(input("Rows, n: "))
  for i in range(1,n+1):
    for j in range(1,i+1):
      print(j,end=" ")
    print("\n")

Rows, n: 5
1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

Rows, n: 4
1

1 2

1 2 3

1 2 3 4

Rows, n: 0

In [ ]:
for i in range(1,6,1):
  print(i,end=" ")
else: # its like multiple if statements merged toghether after that else when for has ended even without for this thing would work
  print("end")

1 2 3 4 5 end

In [ ]:
n=1
while(n!=0): # while n: directly
  n = int(input("Rows, n: "))
  for i in range(1,n+1):
    for j in range(1,i+1):
      print(j,end=" ")
    else:
      print("\n")
  else:
    print("Pattern Ended")
    for i in range(2*n):
      print("-",end="")

Rows, n: 5
1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

Pattern Ended
----------Rows, n: 4
1

1 2

1 2 3

1 2 3 4

Pattern Ended
--------Rows, n: 0
Pattern Ended

In [ ]:
start = int(input("Start: "))
end = int(input("End: "))
sumation = sum(range(start,end+1)) # +1 would be used in end as 1 is subtracted from that function
print(sumation)

Start: 1
End: 10
55

Sumation of multiples of 3, now if odd only or even only and step size 2

In [ ]:
start = int(input("Start: "))
end = int(input("End: "))
sumation = sum(range(start,end+1,3)) # +1 would be used in end as 1 is subtracted from that function
print(sumation)

Start: 3
End: 9
18

Print Table

In [ ]:
def table(a):
  for i in range(1,11):
      print(a*i)
a= int(input("What table to print: "))

if a<=0:
  print("Mercy Chance")
else:
  table(a)

In [ ]:
def digit(a):
  dig=0
  while a!=0:
    a//=10
    dig+=1
  return dig
a= int(input("Number: "))
print(digit(a))

Number: 100
3

Accept until -1

In [ ]:
sum=0
count=0
while True:
  n= int(input("What is the number: "))
  if n==-1:
    print(sum/count)
    break
  else:
    sum+=n
    count+=1

What is the number: 3
What is the number: 4
What is the number: 3
What is the number: -1
3.3333333333333335

In [ ]:
while True:
  n= int(input("What is the number: "))
  if n==-1:

    break
  else:

18/1/24

match case statements in python 3.10 onwards

it is similar to our swtich case statements in C

In [ ]:
month = int(input("Month: "))
year = int(input("Year: "))
match(month):
  case 1|3|5|7|8|10|12:
    days=31
  case 4|6|9|11:
    days =30
  case 2:
    # and so on......
    leap = True if year/4==0 and year%100!=0 or year%400==0 else False # for checking leap year
    if(leap):
      days =29
    else:
      days =28

_____? _____:______

statement? execute if true: execute if False

that was in C

now in Python

small = 3 if 3<4 else 4


print("3") if 3<4 else "4"

here anything can be written in else, other than assignments like a= 5 or something

Mode problem using most occured and ascending values

In [ ]:
print("Mile\t\tKms")
for i in range(1,11):
  print(i,"\t\t",i*1.609)

Mile		Kms
1 		 1.609
2 		 3.218
3 		 4.827
4 		 6.436
5 		 8.045
6 		 9.654
7 		 11.263
8 		 12.872
9 		 14.481
10 		 16.09

Suppose that the Fee for a University is 10000 USD this year and it increases 5% each year

WAP Compute tuition fees 5 years from now total cost of a 4 year program which will begin 5 years from now

In [ ]:
start_fee = 10000
rate = 5.00
fee_5=10000
for i in range(1,6):
  fee_5=fee_5+fee_5*rate/100
print("5 Years from now: ", fee_5)

_4_year= fee_5
sum=0
for i in range(1,5):
    _4_year += _4_year*rate/100
    sum += _4_year
print("The total fees: ", sum)

5 Years from now:  12762.815625
The total fees:  57759.797230488286

100-1000

both 5 and 6 divisible by

we can only output 10 items in a row then next row

In [ ]:
count =0
for i in range(100,1001):
    if(i%30==0): # or directly check with 30
        if(count%10!=0):
            print(i,end=" ")
            count+=1
        else:
            print("\n")
            print(i,end=" ")
            count+=1

120 150 180 210 240 270 300 330 360 390

420 450 480 510 540 570 600 630 660 690

720 750 780 810 840 870 900 930 960 990

Strings:
Character data type doesn't really exist in Python
Indivisual value: Unicode

Characters here are nothing but strings of length 1
String Matching by the inbuilt dictionary

String Matching and stuff to be used

Applications of strings:

Passwords, Username Checking, Word replacements

In [ ]:
fruit = "Apple"
print(fruit)

for i in fruit:
    print(i)

Apple
A
p
p
l
e

In [ ]:
fruit = "Apple"

for i in range(5): # in this range function length of string can be added directly
    print(fruit[i],end="")

print(fruit[1:3])
print(len(fruit))

Applepp
5

In [ ]:
a= "Hello World"
print(len(a))
for i in a:
    if(i!=" "):
        print(i,end ="")
#OR
print("\n")
for j in range(len(a)):
    if(a[j]==" "):
        continue
    else:
        print(a[j],end="")
#OR
print("\n")
for j in range(len(a)):
    if(a[j]!=" "):
        print(a[j],end="")

11
HelloWorld

HelloWorld

HelloWorld

If we try to print the 11th index in the string Hello World, it will an error "string index out of range"

In [ ]:
a= "abc"
print(a[3])

IndexError: string index out of range

In [ ]:
string = "Hell0 World"

if "Hell" in string:
    print("Found")
print("Hello" not in string)
print("Hel" in string[0:5])

Found
True
True

in str[1,5] the 5th element would be excluded and 1 would be included 1st to 4th element would be included
str[:] --> it will print the entire thing

str[1:] --> will go till the end, automatically ends at the length of the string

str[:5] --> will start from 0 automatically and go till 5-1 that is 4

str[0:11:2] --> will start from 0 and go in the step size of 2 start from 0 then 2 then 4 then 6 until 10 as 11 is not included

str[0:-1] --> print from 0 to the end of the loop it will skip the last element

In [ ]:
a= input("String: ")
print(a[::-1])

dlroW olleH

WAP to find the first repeated word in a string

WAP to find the index of a given string at which a particular sub string would start(user inputted) otherwise print not found

In [ ]:
a= "World Hello"

b= a.split(" ")

print(b)

print(a.index("Hello"))
print(b.index("Hello"))

['World', 'Hello']
6
1

os and sys modules along with file handling

Short Circuit/ Lazy Evaluation

In [ ]:
x=False
y=True
print(x or y)

True

In [ ]:
x=0
y=1
print(x or y)

1

In [ ]:
x=1
y=0
print(x or y)
print(x and y)

1
0

In [ ]:
print(any([True,False,False])) # shortciruiting at the first True

True

In [ ]:
print(all([True,False,False]))

False

Output based questions:

In [ ]:
def check():
  return "hi"
print(1 and check())
print(1 or check())
print(0 and check())
print(0 or check())

hi
1
0
hi

In [ ]:
def check():
  print("hi")
print(1 and check())
print(1 or check())
print(0 and check())
print(0 or check())

hi
None
1
0
hi
None

In [ ]:
a=1
b=2
c=3
def check(a):
  print(a)
  return a
if a==1: # short circuited here
  print("a==1")
elif b==2 and c==3:
  print("b==2 and c==3")
elif b==a+a and 0<len(check("hi")):
  print("b==a+a")

a==1

Read, append, write and create

dll -> dynamic link libraries -> also executable

Default mode of file handling in python is .txt file while we can also edit and handle .csv .bin etc.....

File Handling-> "t" or "b"

r,a,w,x
r -> read
a-> append
w-> write
x-> create (if the file already byt the same name exists then python shows an error)

OS and SYS modules

os.path()

Path can be:

-> absolute

-> realtive

In [ ]:
import os
if(os.path.exists("hi.txt")):
  print(True)
else:
  print(False)

False

In [ ]:
import os
print(os.path.exists("hi.txt"))

False

In [ ]:
import os
if(os.path.exists("hello.txt")):
  os.remove("hello.txt")
  print(True)
else:
  print("File doesn't exist.")

True

in order to delete a folder we have to delete everything inside that folder first

rmdir-> remove directory

In [ ]:
import os
if os.path.exists("abc"):
  os.rmdir("abc")
  print(True)
else:
  print("Folder doesn't exists")

OSError: [Errno 39] Directory not empty: 'abc'

In [ ]:
import os
if os.path.exists("abc/hi.txt"):
  os.remove("abc/hi.txt")
  print(True)
else:
  print("Folder doesn't exists")

True

In [ ]:
import os
if os.path.exists("abc"):
  os.rmdir("abc")
  print(True)
else:
  print("Folder doesn't exists")

OSError: [Errno 39] Directory not empty: 'abc'

Write a python program to read an entire text file

in exam we will give the statement like where the file is stored and assume that the file is in the same working directory

that is readlines();

In [ ]:
f= open("demo.txt", "r")
abc= f.read()# if we add a parameter to the function it will read that many bytes only
print(abc)
f.close()

Hello

In [ ]:
f= open("demo.txt", "r")
abc= f.readline(4)
# when we use argument in readline it tells you the number of the bytes to read in the file for eg if we put 4 there it will only read the first line and the first 4 characters only and if we want to read the entire file use the for loops
print(abc)
f.close()

Hell

In [ ]:
f= open("demo.txt", "r")
abc= f.readlines(1)
# may be right may be wrongif we add a parameter in this function then it will only read that many lines from the file
# the readlines function gives the lines in a list in which all the lines , line by line
print(abc)
f.close()

['Hello\n']

In [ ]:
f= open("demo.txt", "r")
abc= f.readlines()
# the readlines function gives the lines in a list in which all the lines , line by line
print(abc)
f.close()

['Hello\n']

In [ ]:
f= open("demo.txt", "r")
abc= f.readlines()
# the readlines function gives the lines in a list in which all the lines , line by line
# \n would also be there its baically split about the \n and then \n is also added to the end of each line
print(abc)
f.close()

['Hello\n', 'World\n', 'Hi']

In [ ]:
f= open("demo.txt", "r")
for i in range(3):
  if i==2:# won't work we have to use seek and tell here
    print(f.readline(1))
f.close()

In [ ]:
f= open("demo.txt", "r")
for i in range(3):
    print(f.readline())
f.close()

Hello

World

Hi

In [ ]:
f= open("demo.txt", "r")
a= f.readlines()
for i in range(3):# not dynamic yet very static
    print(a[i])
f.close()

Hello

World

Hi

how many words  in a file

In [ ]:
f = open("demo.txt", "r")
a= f.read()
count=0

count+=len(a.split())

print(len(a.split()))

f.close()

5

In [ ]:
f = open("demo.txt", "r")
a= f.read()
count=0
count+=len(a.split())
for i in a:
  i.split(",")

print(a)
f.close()

Hello,World
World Hello
Hi Hello

Write a python program to generate 26 text files

In [ ]:
for i in range(26):
  name = "file"+str(i+1)+".txt"
  f = open(name,"w")
  f.close()

6/2/2024

In [ ]:
print(int("003"))

3

In [ ]:
eval("003") # in eval leading 0's are not allowed for integers

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<string>, line 1)

In [ ]:
a=5
b=0
a,b=b,a
print(a,b)

0 5

In [ ]:
print(10//6/2) # same precedence whatever is leftmost would come first

0.5

Modular Programming

In [ ]:
def swap(a=1,b=8): # default values if the user doesn't call any value then it will take these values
  a,b=b,a
  return a,b
def direct_swap(a=2,b=4):
  return b,a
# a=eval(input("Number:"))
# b=eval(input("Number:"))
print(swap())
print(direct_swap())

(8, 1)
(4, 2)